.course-container{
    background: linear-gradient(#4289FF , #07F8C3);
    width: 350px;
    height: 420px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius:10px;
    box-shadow: 8px 8px 12px gray;
}
.course-list h5{
    margin-top: 5px;
}
.course-list img{
    width:350px;
    height: 180px;
}
.course-info{
    padding: 5px;
}
.course-info div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.course-info h5{
    font-size: 20px;
    font-weight: 700;
}
.btn{
    width: 180px;
    font-size: 18px;
}

@media (max-width: 991px){
    .course-container{
        margin: auto;
    }
}
