.course-container{
    background: lightcyan;
    width: 350px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius:10px;
    box-shadow: 8px 8px 12px gray;
}
.course-list h5{
    margin-top: 5px;
}
.course-list img{
    width:350px;
    height: 180px;
}
.course-info{
    padding: 5px;
}
.course-info div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 180px;
}
